{% extends "base.html" %}


{% block app_content %}
<script>
$(document).ready(function() {
          // LOAD DROPDOWN //
  $.getJSON( '/comparedrop', function( response ) {
              console.log(response);
            // Remove old options
            $('#comparedrop').find('option').remove();
            var trHTML = '<option value="Select Leaver"</option>';
            // Add new items
            for(var f=0;f<response.length;f++) {
              trHTML += '<option value="' + response[f]['ident'] + '">' + response[f]['name'] + '</option>'
            }
            console.log(trHTML);
              $('#comparedrop').append(trHTML);
            });

          $("#comparedrop").on('change', function() {
            var selection = $('#comparedrop').val();
            $.getJSON( '/cards', { 'data' : selection } , function( response ) {
              // console.log(response);
              // Remove old options
              $('#tabledelete').find('#filltable').remove();
              var tHTML = '<tbody id="filltable">';
                  tHTML += '<tr><td>id</td><td id="chgid">' + response.A['leaverid'] + '</td><td>' + response.B['id'] + '</td></tr>'
                            + '<tr><td>Name</td><td id="chgname">' + response.A['leavername'] + '</td><td>' + response.B['name'] + '</td></tr>'
                            + '<tr><td>Role</td><td id="chgrole">' + response.A['leaverrole'] + '</td><td>' + response.B['role'] + '</td></tr>'
                            + '<tr><td>Firm</td><td id="chgfirm">' + response.A['leaverfirm'] + '</td><td>' + response.B['firm'] + '</td></tr>'
                            + '<tr><td>Location</td><td id="chgloc">' + response.A['leaverloc'] + '</td><td>' + response.B['location'] + '</td></tr>'
                            + '<tr><td>Updated</td><td>' + response.A['leavertime'] + '</td><td>Just Now</td></tr>'
                            + '<tr><td>Action</td><td><button id="changebtn" class="btnSelect1">Change!</button></td><td><a target="_blank" href="' + response.B['link'] + ' ">LinkedIn</a></td></tr></tbody>';

                  $('#tabledelete').append(tHTML);
                  });
                  } );

                  $("#changebtn").on('click', function() {
                    var chgid = $('#chgid').val();
                    var chgid = $('#chgname').val();
                    var chgid = $('#chgrole').val();
                    var chgid = $('#chgfirm').val();
                    var chgid = $('#chgloc').val();
                    $.getJSON( '/found', { 'id' : chgid,
                                            'name': chgname,
                                            'role': chgrole,
                                            'firm': chgfirm,
                                            'location': chgloc } ,
                    function( response ) {
                      console.log(response);
                      // Remove old options
                      $('#tabledelete').find('#filltable').remove();
                      $('#comparedrop').find('option').remove();
                      var trHTML = '<option value="Select Leaver"</option>';
                      // Add new items
                      for(var f=0;f<response.length;f++) {
                        trHTML += '<option value="' + response[f]['ident'] + '">' + response[f]['name'] + '</option>'
                      }
                      console.log(trHTML);
                        $('#navdrop1').append(trHTML);
                });
              });
            });

</script>


                    <!-- HEADER -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2 class="text-center">Step 3: Compare</h2>
    </div>
  </div>
<br><br><br>
                      <!-- DROPDOWN -->

  <div class="row justify-content-center">
    <div class="col-md-6">
      <select name="comparedrop" id="comparedrop">
        <!-- Dropdown options go here -->
    </select>
  </div>

  </div>
</div>


                    <!-- TABLE -->
<div class="container">
  <div class="row">
  <table id="tabledelete" class="table table-hover table-dark">
    <thead>
      <tr>
        <th>#</th>
        <th>Old</th>
        <th>New</th>
      </tr>
        </thead>

<!-- Table Content Goes Here -->

        </table>
      </div>
    </div>



{% endblock %}
