{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<script>
$(document).ready(function(){
    $.getJSON( '/pros', function( response ) {
      console.log(response);
      var trHTML = '<thead><tr><th>ID</th><th>Name</th><th>Role</th><th>Firm</th><th>Location</th><th>Link</th><th>PROS Updated?</th></tr></thead><tbody>';
      for(var f=0;f<response.B.length;f++) {
        console.log(f);
        trHTML += '<tr><td>'
                  + response.B[f].leaverid + '</td><td>'
                  + response.B[f].leavername + '</td><td>'
                  + response.B[f].leaverole + '</td><td>'
                  + response.B[f].leaverfirm + '</td><td>'
                  + response.B[f].leaverlocation + '</td><td><a target="_blank" href="'
                  + response.B[f].leaverlink + ' ">LinkedIn</a></td><td><button class="PROSconfirm">Confirm</button></td></tr>';
          }
          trHTML += '</tbody>';
          console.log(trHTML);
          $('#PROStable').html(trHTML);
          $( ".spin-grid" ).removeClass( "fa-spin" );
          });
    // user clicks confirm in table once they update users PROS record with new job info
    $("#PROStable").on('click','.PROSconfirm',function(){
         // get the current row
         var currentRow=$(this).closest("tr");

         var id=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
         console.log(id);

         $.getJSON( '/rescue', { 'data' : id, 'action': 'update' } , function( response ) {
           $.bootstrapGrowl("PROS Update Confirmed", {
               ele: 'body',
               type: 'success',
               offset: {from: 'top', amount: 20},
               align: 'right'
             });
             $('#PROStable').find('td').remove();
             var trHTML = '<thead><tr><th>ID</th><th>Name</th><th>Role</th><th>Firm</th><th>Location</th><th>Link</th><th>PROS Updated?</th></tr></thead><tbody>';
             for(var f=0;f<response.B.length;f++) {
               console.log(f);
               trHTML += '<tr><td>'
                         + response.B[f].leaverid + '</td><td>'
                         + response.B[f].leavername + '</td><td>'
                         + response.B[f].leaverole + '</td><td>'
                         + response.B[f].leaverfirm + '</td><td>'
                         + response.B[f].leaverlocation + '</td><td><a target="_blank" href="'
                         + response.B[f].leaverlink + ' ">LinkedIn</a></td><td><button class="PROSconfirm">Confirm</button></td></tr>';
                 }
                 trHTML += '</tbody>';
                 console.log(trHTML);
                 $('#PROStable').html(trHTML);
                 $( ".spin-grid" ).removeClass( "fa-spin" );

           });
});
});
</script>

    <h4>Hi, {{ current_user.name }}!</h4>

    <hp>The Users Below Have Found New Roles. Please Update PROS with tags below and Select the 'Confirm' Button</p>
    <p> <b>leaverslead</b>: if lead entered</p>
    <p> <b>sar</b>: if career history updated</p>
    <br>
    <div>
      <table id="PROStable" class="table table-hover table-dark">

            </table>
      </div>


{% endblock %}
