{% extends "base.html" %}

{% block app_content %}
<script>
$(document).ready(function() {
          // LOAD DROPDOWN //
  $.getJSON( '/comparedrop', function( response ) {
              console.log(response);
            // Remove old options
            $('#comparedrop').find('option').remove();
            var trHTML = '<option value="Select Leaver"</option>';
            // Add new items
            for(var f=0;f<response.length;f++) {
              trHTML += '<option value="' + response[f]['ident'] + '">' + response[f]['name'] + '</option>'
            }
            console.log(trHTML);
              $('#comparedrop').append(trHTML);
            });


  // $("#comparedrop").on('change', function() {
  //   var selection = $('#comparedrop').val();
  //   $.getJSON( '/cards', { 'data' : selection } , function( response ) {
  //     // console.log(response);
  //     // Remove old options
  //     $('#oldcard').find('#olderase').remove();
  //     $('#newcard').find('#newerase').remove();
  //     console.log(response.B.length);
  //     var oldHTML = '<div id="olderase"><div class="card-body"><h5 class="card-title">Leaver</h5></div><ul class="list-group list-group-flush"><li class="list-group-item">';
  //     var newHTML = '<div id="newerase"><div class="card-body"><h5 class="card-title">Update</h5></div><ul class="list-group list-group-flush"><li class="list-group-item">';
  //         oldHTML += response.A['leavername'] + '</li><li class="list-group-item">'
  //                   + response.A['leaverrole'] + '</li><li class="list-group-item">'
  //                   + response.A['leaverfirm'] + '</li><li class="list-group-item">'
  //                   + response.A['leaverid'] + '</li><li class="list-group-item">'
  //                   + response.A['leaverloc'] + '</li><li class="list-group-item"><a href="'
  //                   + response.A['leaverlink'] + '" class="btn btn-primary">Match</a></li></ul><div class="card-footer">'
  //                   + response.A['leavertime'] + '</div></div></div>';
  //
  //         newHTML += response.B['name'] + '</li><li class="list-group-item">'
  //                   + response.B['role'] + '</li><li class="list-group-item">'
  //                   + response.B['firm'] + '</li><li class="list-group-item">'
  //                   + response.B['id'] + '</li><li class="list-group-item">'
  //                   + response.B['location'] + '</li><li class="list-group-item"><a href="#" class="btn btn-primary">LinkedIn</a></li></ul><div class="card-footer">'
  //                   // Button Goes Here
  //                   + 'Just Now' + '</div></div></div>';
  //
  //         $('#oldcard').append(oldHTML);
  //         $('#newcard').append(newHTML);
  //         });
  //         } );
          $("#comparedrop").on('change', function() {
            var selection = $('#comparedrop').val();
            $.getJSON( '/cards', { 'data' : selection } , function( response ) {
              // console.log(response);
              // Remove old options
              $('#tabledelete').find('#filltable').remove();
              var tHTML = '<tbody id="filltable">';
                  tHTML += '<tr><td>id</td><td>' + response.A['leaverid'] + '</td><td>' + response.B['id'] + '</td></tr>'
                            + '<tr><td>Name</td><td>' + response.A['leavername'] + '</td><td>' + response.B['name'] + '</td></tr>'
                            + '<tr><td>Role</td><td>' + response.A['leaverrole'] + '</td><td>' + response.B['role'] + '</td></tr>'
                            + '<tr><td>Firm</td><td>' + response.A['leaverfirm'] + '</td><td>' + response.B['firm'] + '</td></tr>'
                            + '<tr><td>Location</td><td>' + response.A['leaverloc'] + '</td><td>' + response.B['location'] + '</td></tr>'
                            + '<tr><td>Updated</td><td>' + response.A['leavertime'] + '</td><td>Just Now</td></tr>'
                            + '<tr><td>Action</td><td><button class="btnSelect1">Change!</button></td><td><a target="_blank" href="' + response.B['link'] + ' ">LinkedIn</a></td></tr></tbody>';

                  $('#tabledelete').append(tHTML);
                  });
                  } );


                });




  </script>



                    <!-- HEADER -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2 class="text-center">Step 3: Compare</h2>
    </div>
  </div>
<br><br><br>
                      <!-- DROPDOWN -->

  <div class="row justify-content-center">
    <div class="col-md-6">
      <select name="comparedrop" id="comparedrop">
        <!-- Dropdown options go here -->
    </select>
  </div>

  </div>
</div>


                    <!-- TABLE -->
<div class="container">
  <div class="row">
  <table id="tabledelete" class="table table-hover table-dark">
    <thead>
      <tr>
        <th>#</th>
        <th>Old</th>
        <th>New</th>
      </tr>
    </thead>






        </table>
      </div>
    </div>



{% endblock %}
